

	
// ---------------------------------------------- WEBFONTS

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Pacifico);
//@import "font-awesome";
@import url(http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);



// ---------------------------------------------- VARS

$boundary:        1170px;

$sans:            'Roboto', helvetica, arial, sans-serif;
$serif:           'Merriweather', georgia, 'times new roman', serif;
$cursive:         'Pacifico', cursive;
$mono:            'Andale Mono', 'lucida console', monospace;

$base:            14px;
$tiny:            .75em;
$small:           .85em;
$big:             1.5em;

$main:            #444;
$title:           #39f;
$link:            #900;

$bg-main:         #f5f3f0;

$blue:         #00aeef;
$lite-blue:    #6dcff6;

$red:          #e84c3d;
$orange:       #f8941d;
$green:        #197b30;

$lite-grey:    #f7f7f7;
$med-grey:     #e1e1e1;


