

// -------------------------- BASE

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

a {
  color: $blue;
  @include transition;
  &:hover { color: darken($blue, 20%); }
}

hr.sepr { border-color: black; }



// -------------------------- UTIL

.sprite {
  background: url(image_path('feedback-sprites.png')) 0 0 no-repeat;
}



// -------------------------- BUTTONS

.btn {
  display: inline-block;
  padding: .5em 1.3em;
  background: #bbb;
  color: white;
  border-radius: 2px;
  @include transition;
  &:hover {
    text-decoration: none;
    background: #999;
    color: white;
  }

  &.btn-back {
    font-size: $small;
    text-transform: uppercase;
    background: $lite-blue;
    border: 1px solid darken($lite-blue, 25%);
    border-top: 1px solid lighten($lite-blue, 10%);
    border-left: 1px solid lighten($lite-blue, 10%);
    padding-bottom: .6em;
    &:before {
      content: "\f104";
      font-family: FontAwesome;
      font-size: 1.2em;
      margin-right: 10px;
    }
    &:hover {
      background: darken($lite-blue, 5%);
      border: 1px solid darken($lite-blue, 35%);
      border-top: 1px solid lighten($lite-blue, 15%);
      border-left: 1px solid lighten($lite-blue, 15%);
    }
  }

  &.btn-cta {
    font-size: $big;
    font-weight: 400;
    background-color: $orange;
    margin-top: 40px;
    border-radius: 5px;
    box-shadow: 0 4px 0 darken($orange, 20%);
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    padding: .8em 1.8em;
    position: relative;
    top: 0;
    &:after {
      font-family: FontAwesome;
      content: "\f054";
      padding-left: 1.7em;
      position: relative;
      top: 1px;
    }
    &:hover {
      background-color: darken($orange, 5%);
      top: -2px;
      box-shadow: 0 6px 0 darken($orange, 30%);
    }
  }
}



// -------------------------- CHROME

.alert {
  border-radius: 0;
  padding: 20px 0;
  margin: 0;
  box-shadow: 0 0 10px #444;
  background: #CCF2FD;
  border: 0 none;
  color: #444;
  width: 100%;
  text-align: center;
  z-index: 1;
  p { margin: 0; }
}

#header {
  @extend %clearfix;
  box-shadow: 0 0 5px -2px white;
  background: $blue;
  position: relative;
  height: 68px;
  padding: 16px;
  margin: 11px 0;
}

#logo {
  .logo-text {
    visibility: hidden;
  }
}



// -------------------------- MODAL

#curtain {
  //display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  @include transition(opacity .2s ease-in);
  z-index: 0;
}

.show-modal {
  #curtain {
    opacity: .7;
    z-index: 100;
    filter: alpha(opacity=70);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  }
}



// -------------------------- STYLES

body {
  background: $bg-main;
}
